@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-lato), sans-serif;
  --font-heading: var(--font-poppins), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;

  /* SAU YBS için Yenilenmiş Canlı Teknoloji Mavisi Paleti */
  --color-brand-50: #eff6ff;  
  --color-brand-100: #dbeafe;
  --color-brand-200: #bfdbfe;
  --color-brand-300: #93c5fd;
  --color-brand-400: #60a5fa;
  --color-brand-500: #3b82f6; 
  --color-brand-600: #2563eb; 
  --color-brand-700: #1d4ed8;
  --color-brand-800: #1e40af;
  --color-brand-900: #1e3a8a; 
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
  }
}